.menuEmpresa{
    background-color: #f8f8f8;
    padding: 1px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.tituloEmpresa{
    color: #f28c28;
    margin-left: 40px;
}

.linkNav{
    text-decoration: none;
    color: black;
    font-size: 20px;
}